Form field with label and plain input
<form-field>
  <label>Label</label>
  <div>
    <input type="text">
  </div>
</form-field>

Form field with label and wrapped input
<form-field>
  <label>Label 2</label>
  <div>
    <text-field></text-field>
  </div>
</form-field>

Form field with label and dynamic input
<form-field>
  <label>Label 2</label>
  <button (click)="show = true">show Field</button>
  <div>
    <text-field *ngIf="show"></text-field>
  </div>
</form-field>

Plain div (form field) with label and wrapped input
<div formField>
  <label>Label 2</label>
  <div>
    <text-field></text-field>
  </div>
</div>
